@charset 'utf-8';
@import 'sandal/core', 'sandal/core/reset';
@import 'core/mixins', 'core/functions', 'core/vars';

body {
  font-family: -apple-system, ".SFNSText-Regular", "SF UI Text", "Helvetica Neue", Arial, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", "WenQuanYi Zen Hei", sans-serif;
  max-width: 750px;
  margin: 0 auto;
	font-size: 14px;
  background-color: #efeff4;
}

.mui-content {
  background-color: #fff;
}

.color-black {
	color: $colorBlack;
}
.color-gray {
	color: $colorGray;
}
.color-red {
	color: $colorRed;
}
.color-yellow {
  color: $colorYellow;
}
.color-white {
  color: #fff;
}

// 底部颜色
.bg-red {
  background-color: #bf210f;

  .mui-tab-item.mui-active,
  .mui-tab-label,
  .mui-icon {
    color: #fff;
  }
}

.bg-white {
  background-color: #fff;
}
.bg-yellow {
  background-color: $colorYellow;
}
.bg-blue {
  background-color: $colorBlue;
}

a {
	color: $colorGray;
}

p {
  color: inherit;
}

.mui-title {
	color: $colorRed;
}

.mui-bar-tab .mui-tab-item.mui-active {
	color: $colorRed;
}

.mui-icon-back:before,
.mui-icon-left-nav:before {
	color: $colorRed;
}

.mui-segmented-control.mui-segmented-control-inverted .mui-control-item.mui-active {
	color: $colorRed;
	border-bottom-color: $colorRed;
}

.mui-card {
  border-radius: 0;
  box-shadow: none;

  .img img {
    width: 100%;
    min-height: 100px;
    background-color: #E67E22;
  }
}

.title-h2 {
	position: relative;
  text-indent: 23px;
  border-bottom: 1px solid $borderColor;
	margin-top: 5px;

  &:before{
  	content: '';
  	position: absolute;
  	left: 15px;
  	top: 8px;
  	width: 5px;
  	height: 15px;
  	background-color: $colorRed;
  }
}

.left {
  float: left;
}
.right {
  float: right;
}
