@charset 'utf-8';
@import 'sandal/core', 'sandal/core/reset';
@import 'core/mixins', 'core/functions', 'core/vars';

body {
  font-family: -apple-system, ".SFNSText-Regular", "SF UI Text", "Helvetica Neue", Arial, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", "WenQuanYi Zen Hei", sans-serif;
  max-width: 750px;
  margin: 0 auto;
	font-size: 14px;
  background-color: #efeff4;
}

.mui-content {
  background-color: #fff;
}

.mui-bar-tab .mui-tab-item.mui-active {
  color: $colorRed;
}

.color-black {
	color: $colorBlack;
}
.color-gray {
	color: $colorGray;
}
.color-red {
	color: $colorRed;
}
.color-yellow {
  color: $colorYellow;
}
.color-white {
  color: #fff;
}

// 底部颜色
.bg-red {
  background-color: #bf210f;

  .mui-tab-item.mui-active,
  .mui-tab-label,
  .mui-icon {
    color: #fff;
  }
}

.bg-white {
  background-color: #fff;
}
.bg-yellow {
  background-color: $colorYellow;
}
.bg-blue {
  background-color: $colorBlue;
}

.img {
  width: 100%;
}

a {
	color: $colorGray;
}

p {
  color: inherit;
}

.mui-segmented-control.mui-segmented-control-inverted .mui-control-item.mui-active {
	color: $colorRed;
	border-bottom-color: $colorRed;
}

.mui-card {
  border-radius: 0;
  box-shadow: none;

  .img {
    width: auto;
    margin: 0 auto;
    max-height: 400px;
    text-align: center;
    overflow: hidden;
    display: block;

    &.img-small {
      padding: 10px;
      border: 1px solid red;
    }
  }
}

.title-h2 {
	position: relative;
  text-indent: 23px;
  border-bottom: 1px solid $borderColor;
	margin-top: 5px;

  &:before{
  	content: '';
  	position: absolute;
  	left: 15px;
  	top: 8px;
  	width: 5px;
  	height: 15px;
  	background-color: $colorRed;
  }
}

.left {
  float: left;
}
.right {
  float: right;
}

.align-right {
  text-align: right;
}

.jindi-comment {
  @extend %clearfix;
  margin: 15px;

  & > button {
    float: right;
    margin: 10px 0;
  }
}

.mui-table-view-cell:after {
  left: 0;
}

.jindi-line {
  position: relative;
  margin: 0 15px;
  height: 50px;
  line-height: 50px;
  text-align: center;

  p {
      position: relative;
      width: auto;
      padding: 0 10px;
      background-color: #fff;
      display: initial;
      z-index: 2;
  }

  &:after {
    content: "";
    position: absolute;
    top: 24px;
    left: 0;
    width: 100%;
    height: 1px;
    background-color: #c8c7cc;
  }
}