@charset 'utf-8';
@import  'sandal/core';
@import  'core/mixins', 'core/functions', 'core/vars';



.buildings .mui-card {
  margin: 0 auto;
  border-width: 0;

  .mui-card-header {
    font-size: 16px;
    font-weight: bolder;
  }
  
  .img-desc {
  	float: left;
 	  position: relative;
 	  margin-left: 1em;
  	margin-top: -2em;
    color: #fff;
	
	  span {
      line-height: 16px;
      padding: 0 1em;
  	  display: inline-block;
  	  
  	  &:first-child {
  	  	border-right: 2px solid #fff;
    	}
  	}
  }
  
  .desc {
    line-height: 1.75;

    a {
      font-size: 12px;
    }
  }

  .oper {
  	position: relative;
  	display: flex;
    line-height: 50px;
  	transition-duration: .3s;
  	text-decoration: none;
  	-webkit-box-pack: start;
  	-webkit-justify-content: flex-start;
  	justify-content: flex-start;
  	-webkit-box-align: center;
  	-webkit-align-items: center;
  	align-items: center;
    text-align: center;

	  & > div, & > .add-cart {
		  flex: 1;
      border-left: 1px solid $borderColor;
      border-bottom: 1px solid $borderColor;

      &:first-child {
        border-left-width: 0; 
      }
	  }

    .add-cart {
      height: 50px;
      line-height: 1;
      color: $colorRed;

      i {
        margin-top: 3px;
        display: block;
      }
    }
  }
  .huxing {
    color: $colorBlack;
    margin-top: 10px;
  }
  .addr {
    color: $colorBlack;
  }
}

.houses .mui-card {
  margin: 0 auto;

  .mui-card-content {
    position: relative;
  }

  .end-timer {
    position: absolute;
    top: 10px;
    right: 0;
    background-color: $colorRed;
    color: #fff;
    padding: 3px 8px;
  }
	
  .oper {
  	position: absolute;
  	right: 15px;
    height: 50px;
    line-height: 1;
    color: $colorRed;
    text-align: center;
    display: block;
    
    i {
      margin: 0 auto;
      margin-top: 3px;
      display: block;
    }
  }
  
  .desc {
  	width: 100%;
  	height: 60px;
    padding-top: 10px;
  	padding-right: 60px;
    color: #000;

    p {
      color: inherit;
    }
  }
  .others {
    span {
      &:last-child {
        text-indent: 10px;
        display: inline-block;
      }
    }

    .price {
      color: $colorRed;
    }
  }
}