@charset 'utf-8';
@import 'sandal/core';
@import 'core/mixins', 'core/functions', 'core/vars';

.balance~.mui-content {
	padding-bottom: 60px;
}
.mui-table-view-divider {
	line-height: 2;

	input[type=checkbox] {
		position: static;
		float: left;
		margin-left: -6px;
		margin-right: 5px;
	}
	.oper {
		float: right;
		margin-right: 15px;
		margin-top: -28px;
	}
}
.mui-table-view-cell {
	&.mui-checkbox.mui-left {
		input[type=checkbox] {
			left: 10px;
			top: 27px;
		}
	}

	.price {
		float: right;
		color: $colorRed;
	}
	.tel {
		float: right;
	}
}

.mui-table-view .mui-media-object.mui-pull-left {
	margin-left: 5px;
}

.mui-table-view-cell.mui-checkbox.mui-left {
	padding-left: 40px;
}

.balance {
	position: fixed;
	bottom: 0;
	width: 100%;
	height: 50px;
	line-height: 50px;
	box-shadow: 0 0 1px rgba(0,0,0,.85);
	background: #fff;
	z-index: 10;

	.mui-checkbox {
		float: left;
		label {
			padding-left: 40px;
		}
		input[type=checkbox] {
			left: 10px;
			top: 10px;
		}
	}
	.balance-all {
		float: right;
		margin-right: 10px;
		span {
			color: $colorRed;
		}
	}

	.balance-oper {
		float: right;
		padding: 0 1em;
		color: #fff;
		background: $colorRed;
		display: block;
	}
}

.order-detail-info {
	& > span {
		line-height: 2;
	}
	p {
		float: right;
	}

	.mui-input-row {
		label {
			width: 30%;
			line-height: 1;
			padding: 0;
		}
		input {
			width: 70%;
			height: auto;
			padding: 0;
		}
	}
}

.deal-done {
	padding: 15px;
	text-align: center;

	h3 {
		line-height: 4;
		color: $colorRed;
	}
	p {
		line-height: 3;
	}
	span {
		font-size: 12px;
		color: $colorGray;
	}
}

.deal-done-adds {
	margin: 0 15px;
	display: flex;
	
	&.bordered {
		border-bottom: 5px solid #fff;
	}
	a {
		flex: 1;
		display: block;
		border-left: 5px solid #fff;
		&:first-child {
			border-left-width: 0;
		}
	}
}

.more {
	width: 100%;
	text-align: center;
	margin: 0 auto;
	margin-top: 1em;
	color: $colorBlue;
	display: block;
}