@charset 'utf-8';
@import 'sandal/core';
@import 'core/mixins', 'core/functions', 'core/vars';
@import 'base', 'image-text';

.mui-card {
	border: none;
}

.mui-bar {

	.mui-tab-item {
		border-left: 1px solid #fff;

		&:first-child {
			border-left: 0;
		}
	}
}

.bar-tab-red {
	background-color: $colorRed;

	.mui-tab-item {
		color: #fff;

		&.mui-active {
			color: #fff;
		}
	}
}

.jindi-dialog {
	line-height: 1.75;

	.title {
		font-size: 26px;
	}

	button, a {
		border: 0;
		width: 100%;
		border-top: 1px solid #bbb;
		border-radius: 0;
		display: block;
		line-height: 40px;
		padding: 0;
		color: inherit;

		&:last-child {
			border-bottom: 1px solid #bbb;
		}
	}
}

