@charset 'utf-8';
@import  'sandal/core';
@import  'core/mixins', 'core/functions', 'core/vars';

.mui-content {
	
	& > * {
		border-bottom: 1px solid $borderColor;
	}
}

.houses-label {
	line-height: 1.75;
	padding: 10px;

	.addr {
		color: #000;

		p {
			color: inherit;
		}
	}

	.strong {
		span {
			display: inline-block;
			line-height: 1;
			padding: 3px;
			border: 1px solid $borderColor;
		}
	}
}

.houses-price {
	display: flex;
	line-height: 3;
	text-align: center;

	p {
		color: #000;
		font-size: 16px;
		flex: 1;

		span {
			text-indent: 1em;
			display: inline-block;
		}
	}
}

.houses-info {
	padding: 10px;
	@extend %clearfix;

	li {
		float: left;
		width: 50%;
		display: block;
		
		span {
			text-indent: 1em;
			display: inline-block;
		}
	}
}

.houses-around {
	margin: 0 10px;
}