@charset 'utf-8';
@import  'sandal/core';
@import  'core/mixins', 'core/functions', 'core/vars';

$borderIndex: #5c5b5c;

.banner {
	width: 100%;
	min-height: 100px;
}

section {
	display: flex;
	border-top: 5px solid $borderIndex;

	&:last-child {
		border-bottom: 5px solid $borderIndex;
	}
	
	a {
		flex: 1;
		// 此处的height可以由内部的img撑起
		height: 140px; 
		border-left: 5px solid $borderIndex;
		text-align: center;
		line-height: 140px;
		color: inherit;

		&:first-child {
			border-left-width: 0;
		}
	}
}