@charset 'utf-8';
@import 'sandal/core';
@import 'core/mixins', 'core/functions', 'core/vars';

.my-face {
	position: relative;
	margin: 0 15px;
	text-align: center;
	padding-bottom: 10px;

	img {
		width: 80px;
		height: 80px;
		border-radius: 40px;
		margin: 0 auto;
		margin-top: 40px;
	}
	.name {
		margin-top: 10px;
	}
	.integral {
		margin-top: 10px;
	}

	.edit {
		position: absolute;
		top: 20px;
		right: 0;
	}
}