@charset 'utf-8';
@import  'sandal/core';
@import  'core/mixins', 'core/functions', 'core/vars';

.proj-posts {
	position: relative;
	padding: 10px 20px;
	// background: url("../img/demo.jpg") no-repeat;
	line-height: 1.75;
	
	.proj-posts-info > span {
		padding: 0 10px 0 0;
		display: inline-block;
	}

	& > a {
		display: block;
	}

	& > .sign {
		width: 70px;
		text-align: center;
		background-color: yellow;

		& > i {
			margin-right: 4px;
		}
	}

	.weather {
		position: absolute;
		top: 40px;
		right: 20px;
		line-height: 1.5;
	}
}

.neightbor-info {

}

.neighbor-info-header {
	@extend %clearfix;

	img {
		float: left;
		margin-right: 10px;
		display: block;
	}

	.f-info {
		float: left;
		color: $colorBlack;

		.f-date {
			color: $colorGray;
			display: block;
		}
	}
}

.neighbor-info-content {
	padding-top: 10px;
	color: $colorBlack;

	& > h5, & > p {
		color: $colorBlack;
		line-height: 2;
	}

	.neighbor-info-img-3 {
		margin-top: 10px;
		display: flex;

		img {
			flex: 1;
			margin-left: 10px;

			&:first-child {
				margin-left: 0;
			}
		}
	}
}